<h1>Books</h1>
<Book::newbook @createBooks={{this.createBook}}></Book::newbook>
<br/>
<h2>All books</h2>
{{#each @model as |book|}}
  <div class="card">
    {{book.title}} - {{book.isbn}}
    <button {{ on 'click' (fn this.deleteBook book.id)}}>Delete book</button>
  </div>
{{/each}}
