<h1>Welcome</h1>

<p>{{@model.message}}</p>

<LinkTo @route="awards" class="menu-index">
  <a>Awards</a>
</LinkTo>
<LinkTo @route="books" class="menu-index">
  <a>Books</a>
</LinkTo>

<DemoAppEditor>

</DemoAppEditor>
